---
import Baselayout from "../layouts/Baselayout.astro";
import Menu from "../components/Menu.astro";
---
<Baselayout>
    <h1>Hello World!</h1><br><br>
    <Menu Menuicon="carbon:settings" Page="/settings" />
</Baselayout>